*{
margin: 0;
padding: 0;
box-sizing: border-box;
list-style: none;
outline: none;
}

body{
min-height: : 100vh;	
background: #333;	
background-size: cover;
background-position: center;
}	

.wrapper .header{
  z-index: 1;
  background: #22242A;
  position: fixed;
  width: calc(100% - 0%);
  height: 70px;
  display: flex;
  top: 0;
}

.wrapper .header .header-menu{
  width: calc(100% - 0%);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.wrapper .header .header-menu .title{
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 900;
}

.wrapper .header .header-menu .title span{
  color: #4CCEE8;
}

.wrapper .header .header-menu .sidebar-btn{
  color: #fff;
  position: absolute;
  margin-left: 240px;
  font-size: 22px;
  font-weight: 900;
  cursor: pointer;
  transition: 0.3s;
  transition-property: color;
}

.wrapper .header .header-menu .sidebar-btn:hover{
  color: #4CCEE8;
}

.wrapper .header .header-menu ul{
  display: flex;
  position: relative;
}

.wrapper .header .header-menu ul li .searchbar{
position: relative;	
margin-right: 10px;
}
.wrapper .header .header-menu ul li .searchbar input[type="text"]{
border:0;
padding: 0 0px;
width: 0px;
height: 35px;
border-radius: 3px;
transition:  all .3s ease;
}
.wrapper .header .header-menu ul li .searchbar .icon{
position: absolute;
top: 0;
right: -10px;
width: 35px;
height: 100%;
transition:  all 0.5s 0.2s ease;
}
.wrapper .header .header-menu ul li .searchbar .icon i{
cursor: pointer;	
}

.wrapper .header .header-menu ul li .searchbar .icon.active{
transition: all 0.3s ease;
}

.wrapper .header .header-menu ul li .searchbar input[type="text"].active{
width: 250px;
padding: 0 10px;	
transition: all 0.5s ease;
}
.wrapper .header .header-menu ul li a{
  background: #fff;
  color: #000;
  display: block;
  margin: 0 10px;
  font-size: 18px;
  width: 34px;
  height: 34px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  transition-property: background, color;
}
.wrapper .header .header-menu ul li a i{
margin-top: 8px;	
}
.wrapper .header .header-menu ul li a:hover{
  background: #4CCEE8;
  color: #fff;
}

.wrapper .header .header-menu ul li.drop_noti.active .dd_menu{
display: flex;	
}

/*dropdown menu de notificações*/
.dd_menu{
position: absolute;
width: fit-content;
top: 52px;
right: 57px;
display: flex;
background: #fff;
border: 1px solid #eee;
box-shadow: 0 0 3px rgba(0,0,0,0.25);
border-radius: 0 0 5px 5px;
box-sizing: border-box;
padding: 10px 15px;	
display: none;
}
.dd_menu:before{
content: '';
position: absolute;
top: -20px;
right: 13px;
border: 10px solid;
border-color: transparent transparent #fff transparent;	
}
.dd_menu ul{
display: flex;
flex-direction: column;	
}
.dd_menu ul li{
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
}

.dd_menu ul li a{
  background: #fff;
  color: #000;
  display: block;
  margin: 0 10px;
  font-size: 14px;
  line-height: 35px;
  text-align: center;
  border-radius: 0%;
  transition: 0.3s;
  transition-property: none;
}

.dd_menu ul li:last-child{
border-bottom: none;	
}
/*Fim do dropdown menu de notificações*/


.side-bar{
background: rgba(255,255,255,0.1);
backdrop-filter:blur(15px);	
width: 290px;
height: 100vh;
position: fixed;
top: 70px;
left: 0;
overflow-y: auto;
transition: 0.6s ease;
transition-property: left;
}
.side-bar.active{
left: 0;	
}
.side-bar .menu{
width: 100%;
margin-top: 20px;

}
.side-bar .menu .item{
position: relative;
cursor: pointer;	
}

.side-bar .menu .item a{
color: #fff;
font-size: 16px;
text-decoration: none;
display: block;
padding: 5px 30px;
line-height: 60px;	
border-left:3px solid transparent;
}
.side-bar .menu .item a.active{
border-left-color: cyan;	
}
.side-bar .menu .item a:hover{
background: #4CCEE8;
transition: 0.3s ease;
}
.side-bar .menu .item i{
margin-right: 15px;	
}
.side-bar .menu .item a .dropdown{
position: absolute;
right: 0;
margin: 20px;	
transition: 0.3s ease;
}
.side-bar .menu .item .sub-menu{
background: rgba(255,255,255,0.1);	
display: none;
}
.side-bar .menu .item .sub-menu a{
padding-left: 80px;
}
.rotate{
transform: rotate(90deg);	

}

.side-bar .profile img{
  margin: 20px 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #ccc;
}

.side-bar .profile p{
  color: #fff;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}

/*
.close-btn{
position: absolute;
color: #fff;
font-size: 20px;
right: 0;
margin: 25px;
cursor: pointer;
}*/
.menu-btn{
position: absolute;
color: #fff;
font-size: 20px;
margin: 25px;
cursor: pointer;	
}

.main{
width: calc(100% - 290px);	
height: calc(100vh - 70px);
margin-left: 290px;
margin-top: 70px;
display: flex;
flex-direction: column;
padding: 10px;	
overflow-y: auto;
background: #e5e5e5;
}
.main h1{
color: rgba(255,255,255,0.5);
font-size: 60px;
text-align: center;
line-height: 80px;	
color: #000;
}

@media(max-width: 900px){
.main h1{
font-size: 40px;
line-height: 60px;	
}	
}