.form{
width:100%;
max-width: 100%;
height: auto;
display: table;
margin: 0 auto;
padding: 10px;
margin-top: 10px;
background: #f4f4f4;
}	

.form.form_line{
box-sizing: border-box;
}
.form.form_line .group-form{
margin-right: 10px;	
width: 100%;
}

.form > legend{
font-size: 1.4em;
color: #333;
padding: 15px;
margin-bottom: 5px;
font-weight: bold;
}

.group-form{
width: 100%;
height: auto;
margin-bottom: 10px;
box-sizing: border-box;
float: left; 
position: relative;
}

.group-form.auto{
width: fit-content;
padding: 0 10px;	
}

.center{text-align: center;}
.right{text-align: right;}
.left{text-align: left;}

.w70{
width: 66%;
margin-right: 0.25%;
margin-left: 0.25%;	
}
.w50{
width: 49%;
margin-right: 0.5%;
margin-left: 0.5%;	
}
.w20{width: 19.5%;margin-left: 0.25%;margin-right: 0.25%;}
.w30{width: 32%;margin-right: 0.65%;margin-left: 0.65%;}
.w25{width: 24.5%;margin-right: 0.25%;margin-left: 0.25%;}
.w20{width: 19.5%;margin-right: 0.25%;margin-left: 0.25%;}
.group-form label{
width: 100%;
font-size: 1em;
color: #444;
display: block;
font-weight: bold;
margin-bottom: 5px;	
}
.group-form label span.campo_invalido{
font-size: 10px;
color: tomato;
float: right;
margin-top: 5px;
margin-right: 5px;	
}
.group-form input[type=checkbox]{
width: 30px;
height: 30px;	
}
.group-form input, .group-form select{
width: 100%;
height: 30px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
padding-left: 5px;	
}
.group-form input[type=radio], .group-form input[type=checkbox]{
width: 25px;
height: 25px;
}

.group-form textarea{
width: 100%;
height: 100px;
resize: none;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
padding: 5px;	
}

.group-form .btnLine{
margin-top: 23px;
padding: 0 15px;	
}
.group-form .btnLine i{font-size: 1.4em;}

.group-form input.input_error i{
color: #f00;	
}

.com_icone input{padding-left: 45px;}
.com_icone i{
background: #ddd;
padding: 11px;
position: absolute;
top: 28px;
left: 2px;
color: #555;
}

.form fieldset{
width: 100%;	
box-sizing: border-box;
padding: 10px 10px;	
border: 1px solid #ccc;
margin-bottom: 10px;
background: #fff;
}
.form fieldset legend{
padding: 0 8px;
font-size: 1.2em;
color: #444;
font-weight: 900;	
}
.form fieldset label{font-size: 0.8em;}
/*Validando inputs com error */
.campo_error label{color: tomato;}
.campo_error input{border: 1px solid tomato;}
.campo_error i{color: tomato;}

.group-form input[type=submit]{
cursor: pointer;
width: 100%;
height: 40px;
font-size: 18px;
text-transform: uppercase;
border: 0 none;
background: #069;
color: #fff;	
}

.groups{	
height: 50px;
}
.groups input{
width: 70%;
}
.groups select{
width: 70% !important;	
}
.groups button{
width: 25%;
height: 30px;
cursor: pointer;
border-radius: 4px;
border: 0 none;
background: #069;
}

.groups button i{color: #fff;font-size: 1.2em;}

/*Configurando estilo dos botoes*/
.btn{
width: fit-content;
height: 30px;
border: 0 none;
cursor: pointer;
padding: 8px;
border-radius: 4px;	
}
.btn.btn-success{background: #16a085;color: #fff;}
.btn.btn-info{background: #2980b9;color: #fff;}
.btn.btn-alert{background: #e67e22;color: #fff;	}
.btn.btn-danger{background: #e74c3c;color: #fff;}
.btn a{color: #fff;}

.chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 0 0 8px;
    height: 30px;
}

.chosen-container-single .chosen-single span {
    display: block;
    overflow: hidden;
    margin-right: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 2px;
    font-size: 14px;
}

.group-icons{
 margin: 0 5px;
 border:1px solid #ccc;
 display: flex;
 flex-direction: row;
}
.group-icons i{
width: 30px;
text-align: center;
line-height: 30px;
font-size: 1.3em;
cursor: pointer;
margin: 0;
}
.group-icons input{
width: 100%; 
text-align: left;
float: right;
border-radius:0 !important;
border:0 !important;
border-left: 1px solid #ccc !important;
}

/*Preview imagem unica*/
.container-preview{
 width: 220px;
 height: 150px;
 border:1px solid #ccc;
 border-radius: 4px;
 box-sizing: border-box;
 padding: 4px; 
position: relative;
display: flex;
align-items: center;
justify-content: center;
} 

.container-preview img{
 width: 100%;
 height: 100%; 
 display: none; 
 object-fit: cover;
 object-position: center;
}

.remove_image{
display: none;
position: absolute;
top: 10px;right: 10px;
color: #fff;
background: tomato;
border-radius: 50%;
padding: 5px 10px;
}

label.input_file {
  width: fit-content;
  display: block;
  background-color: indigo;
  color: white;
  padding: 8px;
  font-family: sans-serif;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 5px;
  user-select: none;
}

#file-chosen{
  margin-left: 0.3rem;
  margin-top: 5px;
  font-family: sans-serif;
}
/*fim imagem preview unica*/



/*Multiplas imagens*/
.images {
  display: flex;
  flex-wrap:  wrap;
  margin-top: 20px;
}
.images .img,
.images .pic {
  flex-basis: 31%;
  margin-bottom: 10px;
  border-radius: 4px;
    border: 1px solid #ddd;
}
.images .img {
  width: 112px;
  height: 93px;
  background-size: cover;
  margin-right: 10px;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;

}
.images .img:nth-child(3n) {
  margin-right: 0;
}
.images .img span {
  display: none;
  text-transform: capitalize;
  z-index: 2;
}
.images .img::after {
  content: '';
  width: 100%;
  height: 100%;
  transition: opacity .1s ease-in;
  border-radius: 4px;
  opacity: 0;
  position: absolute;
}
.images .img:hover::after {
  display: block;
  background-color: #000;
  opacity: .5;
}
.images .img:hover span {
  display: block;
  color: #fff;
}
.images .pic {
  background-color: #F5F7FA;
  align-self: center;
  text-align: center;
  padding: 40px 0;
  text-transform: uppercase;
  color: #848EA1;
  font-size: 12px;
  cursor: pointer;
} 
/*Multiplas imagens*/

/*Box header campos dinamicos*/
.box-header .add_dinamico{
 position: absolute;
 right: 10px;
 top: 2px; 
 color: #333;
}
/*Box header campos dinamicos*/


@media(max-width: 560px){
.form{width:300px;margin: 0 auto;}	
.w50, .w30, .w25{width: 100%;}	
}